{% extends "base.html" %}

{% block title %}ACCOUNTS - BFP LOGISTICS{% endblock %}

{% block content %}
<h2>Account Management</h2>

<div style="margin-top: 50px;">
    <button type="button" class="btn btn-info btn-primary mb-3" data-toggle="modal" data-target="#userModal">
        Create New Personnel
    </button>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="POST" enctype="multipart/form-data" id="userForm">
                {% csrf_token %}
                {% if form.instance.pk %}
                    <input type="hidden" name="user_id" value="{{ form.instance.pk }}">
                {% endif %}
            
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">
                        {% if form.instance.pk %}
                            Update User
                        {% else %}
                            Add New User
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        {% for field in form %}
                            <div class="form-group col-md-12">
                                {{ field.label_tag }}

                                {% if field.name == 'roles' %}
                                    <div class="row ml-2">
                                        {% for checkbox in field %}
                                            <div class="form-check col-md-4">
                                                {{ checkbox.tag }}
                                                {{ checkbox.choice_label }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% elif field.name == 'profile_picture' %}
                                    <input type="file" name="profile_picture" class="form-control" id="id_profile_picture" accept="image/*">
                                {% else %}
                                    {{ field }}
                                {% endif %}

                                {% if field.errors %}
                                    <div class="text-danger">{{ field.errors|striptags }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="submitButton">
                        {% if form.instance.pk %} Update {% else %} Add {% endif %}
                    </button>
                </div>
            </form>            
        </div>
    </div>
</div>

<hr>

<table id="user-table" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email_address }}</td>
            <td>{{ user.lastname }}, {{ user.firstname }}</td>
            <td>{{ user.status }}</td>
            <td>
                <a href="?edit={{ user.pk }}" class="btn btn-sm btn-info">Edit</a>
                <a href="?delete={{ user.pk }}" class="btn btn-sm btn-danger" onclick="return confirm('Confirm delete? All data created by the user is also removed!')">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        function removeQueryParam(param) {
            const url = new URL(window.location.href);
            url.searchParams.delete(param);
            window.history.replaceState({}, document.title, url.pathname + url.search);
        }

        function resetForm() {
            $('#userForm')[0].reset();
            $('input[name="user"]').remove(); 
            $('#submitButton').text('Add');
            $('#userModalLabel').text('Add New User');
        }

        if (window.location.search.indexOf('edit') > -1) {
            $('#userModal').modal('show');
            $('#submitButton').text('Update');
            $('#userModalLabel').text('Update User');
        }

        $('#userModal').on('hidden.bs.modal', function () {
            removeQueryParam('edit');
            resetForm();
        });

        $('[data-target="#userModal"]').on('click', function () {
            resetForm();
        });

        $('a[href*="edit"]').on('click', function (e) {
            e.preventDefault();
            var userId = $(this).attr('href').split('=')[1];
            window.location.href = '?edit=' + userId;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#user-table').DataTable();

        if (window.location.search.indexOf('edit') > -1) {
            $('#userModal').modal('show');

            const classId = $('#id_class_id').val();
            if (classId) {
                $.ajax({
                    url: '/ajax/load-subclassifications/',
                    data: { 'class_id': classId },
                    success: function (data) {
                        $('#id_subclass_id').html('<option value="">---------</option>');
                        $.each(data, function (index, item) {
                            $('#id_subclass_id').append(
                                $('<option></option>').val(item.subclass_id).html(item.subclass_name)
                            );
                        });

                        if (initialSubclassId) {
                            $('#id_subclass_id').val(initialSubclassId).trigger('change');
                        }
                    }
                });
            }

            const subclassId = "{{ form.subclass_id.value|default:'' }}";
            if (subclassId) {
                $.ajax({
                    url: '/ajax/load-subsets/',
                    data: { 'subclass_id': subclassId },
                    success: function (data) {
                        $('#id_subset_id').html('<option value="">---------</option>');
                        $.each(data, function (index, item) {
                            $('#id_subset_id').append(
                                $('<option></option>').val(item.subset_id).html(item.subset_name)
                            );
                        });

                        if (initialSubsetId) {
                            $('#id_subset_id').val(initialSubsetId);
                        }
                    }
                });
            }
        }

        function removeQueryParam(param) {
            const url = new URL(window.location.href);
            url.searchParams.delete(param);
            window.history.replaceState({}, document.title, url.pathname + url.search);
        }

        $('#userModal').on('hidden.bs.modal', function () {
            removeQueryParam('edit');
        });

        $('.btn-secondary').on('click', function () {
            $('#userModal').modal('hide');
        });

        $('.close').on('click', function () {
            $('#userModal').modal('hide');
        });

    });
</script>

{% endblock %}
